*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}

#box{
    margin: 100px;
    padding: 20px;
    width: 200px;
}

.list-item{
    list-style: none;
}

.delete{
    cursor: pointer;
}

#input{
   margin: 10px 0;
}